package-lock.json
*.csv
*.dat
*.iml
*.log
*.un
*.un~
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.vscode/
tags
coverage
node_modules
npm-debug.log
client
nodered
builds
dev
*.suo
*.sln
*.dll
/obj/Debug
/.vs/config/applicationhost.config
/oe.njsperf
.vimrc 
test/bpmn-files-todo
test/todo
*.js1
oracle-user.sh
